.top-buffer {
  margin-top: 20px; }

.bottom-buffer {
  margin-bottom: 20px; }

.messages {
  margin-top: 20px; }

.success {
  color: green; }

.error {
  color: red; }

.bg-primary-blue,
.primary-color {
  background-color: #12516B; }

body {
  background-color: #DDEAF2; }

body .btn-primary {
  background: #12516B;
  border-color: #12516B; }

form input.form-control {
  width: inherit; }

form .form-group {
  text-align: left !important; }

form .form-group label {
  float: left;
  width: 30%; }

form input.form-control > input,
form input.form-control > div {
  float: left;
  width: 70%; }
