.top-buffer {
  margin-top: 20px; }

.bottom-buffer {
  margin-bottom: 20px; }

.messages {
  margin-top: 20px; }

.success {
  color: green; }

.error {
  color: red; }

.bg-primary-blue,
.primary-color {
  background-color: #12516B; }

body {
  background-color: #DDEAF2; }

body .btn-primary {
  background: #12516B;
  border-color: #12516B; }
